

#navbar {
display: flex;
justify-content: flex-end;
}

ul {
list-style-type: none;
}

#nav-elements {
    padding: 15px 10px;
}

a {
color: black;
text-decoration: none;
}

span-1 {
    color: rgb(252, 195, 9);
}
span-2 {
    color: rgb(255, 255, 255);
}

 /*
    need to research how to use flexbox on 
    this container to align text in centere and on 
    top of each other, and on top of other containers */
.container-3 {
    display: block;
    text-align: center;
    margin: auto;
    padding: 1px;
    background-color: rgb(81, 81, 81);
}

.card-0 {
    display: flex;
    justify-content: center;
    
}

/* flex-container is the parent container */
.flex-container {
    width: 100%;
    background-color: rgb(81, 81, 81);
}

/* flex-container is the child of the flex-container */
.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row-reverse;
    background-color: rgb(252, 195, 9);
}
/* flex-container .container div is the chaild of the parent (flex container) */
.flex-container .container div {
    width: 25%;
    margin: 10px; 
}

img {
    width: 100%;
}

 /*
    need to research how to use flexbox on 
    this container to align text in centere and on 
    top of each other, and on top of other containers */

.footer-container{
    display: block;
    padding: 5px;
    background-color: rgb(81, 81, 81);
}

.footer-container {
    color: white;
    margin: auto;
    padding: 5px;
}


   