/* creating external css file, applying divs & spans, classes and box model - Margin, Border & Padding*/
body {
    background-color: #f8f9fa;
    color: rgb(117, 117, 117);
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: #696969;
}

h1 {
    font-size: 50px; 
    width: 50%;
    margin: 0px;
    padding: 20px;
    
}

h2 {
    font-size: 28px;
    width: 50%;
    margin: 20px;
    padding: 5px;
    border-bottom: 2px solid gray;
}

h3 {
font-size: 20px;
}

/* css box model
Margin:
Border:
Padding:
   */
.box1 {
    background: #f8f9fa;
    width: 50%;

    margin: 0px;

          /* Top, Right, Bottom, Left */
    padding: 3px  20px   3px     20px; 

    /* 450px box + left & right 20px/20px padding, 
    border left & right 5px/5px, left & right 20px/20px margin. 
    total width of the box is 540px. important for mutiple boxes*/
}

.box2 {
    background: #f8f9fa;
    width: 50%;

    margin: 0px;

          /* Top, Right, Bottom, Left */
    padding: 3px  20px   3px     20px; 
}

.box3 {
    background: #f8f9fa;
    width: 50%;
    margin: 20px;
    
}
.box4 {
    background: #d1d1d1;
    width: 50%;
    font-size: 15px;
    margin: 20px;

          /* Top, Right, Bottom, Left */
    padding: 3px  20px   3px     20px; 
}

#nav-elements {
    display:block;
    padding: 10px 10px; 
    margin: 0px;
    background-color: gray;
}

#navbar {
    display: flex;
    background-color: gray;
    margin: 20px;
}

a {
color: white;
text-decoration: none;

}

#nav-elements:hover{
    background-color: rgb(0, 157, 255);
}