/* creating external css file, applying divs & spans, classes and box model - Margin, Border & Padding*/
body {
    background-color: #f8f9fa;
    color: rgb(117, 117, 117);
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
background-color: #f8f9fa;
border: 1px solid #f8f9fa;
margin: 10px 0px;
float: left;
}

p {
    color: #696969;
}

h1 {
    font-size: 60px; 
    width: auto;
    margin: 0px;
    padding: 20px;
    text-align: center;
    
}

h2 {
    font-size: 28px;
    color: gray;
    width: auto;
    margin: 20px;
    padding-bottom: 8px;
    border-bottom: 2px solid gray;

}

h3 {
font-size: 20px;
}

/* css box model
Margin:
Border:
Padding:
   */
.box1 {
    background: #f8f9fa;
    font-size: 20px;
    width: 60%;
    margin-top: 0px;

          /* Top, Right, Bottom, Left */
    padding: 3px  20px   3px     20px; 

    /* 450px box + left & right 20px/20px padding, 
    border left & right 5px/5px, left & right 20px/20px margin. 
    total width of the box is 540px. important for mutiple boxes*/
}

.box2 {
    background: #f8f9fa;
    font-size: 18px;
    width: 60%;

    margin: 0px;

          /* Top, Right, Bottom, Left */
    padding: 3px  20px   3px     20px; 
}

.box3 {
    background: #f8f9fa;
    width: 60%;
    margin: 20px;
    
}
.box4 {
    background: #9acdff;
    width: 60%;
    font-size: 15px;
    margin: 20px;

          /* Top, Right, Bottom, Left */
    padding: 3px  20px   3px     20px; 
}

img {
    border-image-width: auto;
}
#nav-elements {
    display:block;
    padding: 10px 10px; 
    margin: 0px;
    background-color: gray;
    border-left: 2px solid #f8f9fa;
    
}

#navbar {
    display: flex;
    background-color: gray;
    margin: 20px;
}

a {
color: white;
text-decoration: none;

}

#nav-elements:hover{
    background-color: rgb(0, 157, 255);
}

.profile-card {
    background: gray;
    padding: 15px;
    border-radius: 10px;
    float: right;
    width: 30%;
    height: 385px;
    margin-right: 20px;
    margin-top: 120px;
}

.card-header {
    font-size: 15px;
    margin-bottom: 8px;
    background-color: gray;
    color: white;
    
}

.card-header.card-image {
    overflow: hidden;

}

.card-header.card-image > img {
    display: block;
    width: 100%;
}
.card-body {
    font-size: 12px;
    color: white;
    background-color: gray;
    
}


.card-footer {
    margin-top: 8px;
}

.btn {
    background: rgb(0, 157, 255);
    color: white;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: rgb(122, 204, 255);
}

.btn.btn-outline {
    background: none;
    border: 1px solid rgb(0, 157, 255);
    color: rgb(0, 157, 255);
}

.btn.btn-outline:hover, .btn.btn-outline:focus {
    background: rgb(195, 232, 255);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax(300px, 5px));
    gap: 2px;
  
}